*, ::after, ::before {
    box-sizing: border-box;
}

.navbar {
    background-color: lightblue;
    padding: 5px;
    margin: 0px;
    font-size: 1.25rem;
    line-height:inherit;
    white-space:nowrap;
    text-align: center;
    display: flex;
    flex-direction: flex;
    width: 100%;
    border: 1px black solid;
}
 
body {
    margin: 0px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: rgba(204, 204, 204, 0.726);
    background: url('../Images/BlueNile.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh; 
}

#container{
    padding-top: 0px, 20px;
    margin: 0;
}

.Me {
  /* background-color: #F5DEB3; */
    background-color: white;
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 20px;
    margin-right: 0px;
    max-width: 800px;
}

h1 {
    color:black;
    font-family: serif;
    font-size: 28px;
    padding: 10px 0;
    margin: 0;
    margin-bottom:20px;
    margin-top: 20px;
    margin-left: 5%;
    width: 20%;
}

h2 {
    color: lightseagreen;
    font-family: serif;
    padding: 0px;
    margin: 0;
    font-size: 40px;
}

img {
    float: left;
    margin: 10px;
}

.col-md-6  {
    float: left;
}
.btn {
    margin: 20px;
}

 p {
margin-top:0;
display: column;
flex-direction: row;
}

footer {
    background-color: #333;
    color: #efeee7;
     position: relative; 
     height: 4.22rem; 
     padding:0 30px; 
     bottom: 0;
      width: 100%; 
      border-top: 5px green solid;
    }
    footer p{
        text-align: center;
        padding-top:20px ;
        padding-bottom:20px;
        color: white;
        font-size: 20px;
    }

@media screen and (min-width:425px){
    .Me {
        width: 93vw;
        display: block;
        flex-direction: column;
    }
}
