*, ::after, ::before {
    box-sizing: border-box;
}

.bg-dark {
    background-color: #343a40!important;
}

.navbar {
  background-color: lightblue;
   padding: 5px;
    margin: 0px;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    text-align: center;
    display: flex;
    width: 115%;
    border: 1px black solid;
}

body {
    margin: 0px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 1rem;
    font-weight: 400;
    width: 87vw;
    line-height: 1.5;
    background-color: rgba(204, 204, 204, 0.726);
    background: url('../images/BlueNile.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;     
} 
   
img {
    padding: .25rem;
    margin: 10px auto;
    background-color:bg-light;
    max-width: 100%;
    height: 350px;
    vertical-align: middle;
    border-style: none;
}

.my-port {
    padding: 20px;
    margin: 60px 60px 30px 30px;
   /* background-color: #F5DEB3; */
    background-color: rgb(231, 219, 216);
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
  .wea {
    width: 80%;
    display: flex;
}
.btn{
    margin: 5px;
}

h1 {
    color: black;
    font-family: serif;
    font-size: 28px;
    padding: 10px 0;
    margin: 0px;
    margin-bottom:20px;
    margin-top:20px;
    margin-left: 5%;
    width: 20%;
}

h2 {
    color: lightseagreen;
    font-family: serif;
    padding: 10px;
    font-size: 40px;
}

footer {
    background-color: #333;
    color: #efeee7;
     position: relative; 
     height: 4.22rem; 
     padding:0 30px;
     bottom: 0;
      width: 115%; 
    }
    
    footer p{
        text-align: center;
        padding-bottom:20px;
        color: white;
        font-size: 20px;
    }

@media screen and (max-width:320px) {
    .navbar{
        width: 115%;
    }
    
    .my-port {
        position: static;
        display: block;
        width: 110%;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 10px;
        margin-right:5px;

    }
    footer{
        width: 115%; 
    }
}
